## Build relational model based on data from persistent zone

In [ ]:
# Required libraries
import os
import pandas as pd
import psycopg2
import shutil



# Constants
TEMPORAL_PATH = "/content/drive/MyDrive/ADSDB/landing/temporal"
PERSISTENT_PATH = "/content/drive/MyDrive/ADSDB/landing/persistent"
SQL_PATH = "/content/drive/MyDrive/ADSDB/formatted/sql"
INFLATION_FILENAME = "inflation_rate"
EMPLOYMENT_FILENAME = "employment_rate"
HPI_FILENAME = "house_price_index"
HPI_WEIGHTS_FILENAME = "house_price_index_weights"
FILENAMES = [INFLATION_FILENAME, EMPLOYMENT_FILENAME, HPI_FILENAME, HPI_WEIGHTS_FILENAME]

# Mount Google Drive to Colab
from google.colab import drive
drive.mount('/content/drive')

#Install PostgreSQL
!apt-get -y -qq install postgresql postgresql-contrib &> /dev/null
!service postgresql start
!sudo -u postgres createuser --superuser adsdb
!sudo -u postgres createdb adsdb
!sudo -u postgres psql -c "ALTER USER adsdb WITH PASSWORD 'adsdb';"

Mounted at /content/drive
 * Starting PostgreSQL 14 database server
   ...done.
ALTER ROLE

In [ ]:
# Database connection function
def connect_to_database():
    connection = psycopg2.connect(
      host="localhost",
      database="adsdb",
      user="adsdb",
      password="adsdb"
    )
    return connection.cursor(), connection

# Reading a CSV from persistent folder
def read_persistent_csv(year, filename):
    return pd.read_csv(f"{PERSISTENT_PATH}/{year}/{filename}_{year}.csv")

# Predefined structures to identify primary keys and any SERIAL columns
TABLE_STRUCTURES = {
    "inflation_rate": {
        "primary_key": "year",
    },
    "employment_rate": {
        "primary_key": "id",
        "serials": ["id"]
    },
    "house_price_index": {
        "primary_key": "id",
        "serials": ["id"]
    },
    "house_price_index_weights": {
        "primary_key": "id",
        "serials": ["id"]
    }
}

def generate_sql_create_table(df, table_name, year):
    dtype_mapping = {
        'int64': 'INT',
        'float64': 'DECIMAL(5,2)',
        'object': 'VARCHAR(100)'  # This sets VARCHAR as default, adjust if necessary
    }
    structures = TABLE_STRUCTURES.get(table_name, {})

    columns = []

    # If table is inflation_rate, set year as primary key
    if table_name == "inflation_rate":
        columns.append("year INT PRIMARY KEY")
    # Otherwise, add auto-incremented id as primary key
    else:
        columns.append("id SERIAL PRIMARY KEY")
        if 'year' in df.columns:
            columns.append("year INT")

    for col in df.columns:
        column_type = dtype_mapping[str(df[col].dtype)]

        # Avoid re-adding the column if it's already added as a primary key or year
        if col in ["id", "year"]:
            continue

        columns.append(f"{col} {column_type}")

    # If another primary key is defined (besides year or id), create a unique constraint for it
    if "primary_key" in structures and structures["primary_key"] not in ["id", "year"]:
        columns.append(f"UNIQUE ({structures['primary_key']})")

    final_table_name = f"{table_name}_{year}"
    sql_command = f"CREATE TABLE {final_table_name} ({', '.join(columns)});"

    return sql_command


# Save SQL Create Table command to a file
def save_sql_to_file(sql_command, filename):
    if not os.path.exists(SQL_PATH):
        os.makedirs(SQL_PATH)
    with open(f"{SQL_PATH}/{filename}.sql", 'w') as file:
        file.write(sql_command)

def store_data_in_postgres(df, table_name, year, cursor, connection):
    final_table_name = f"{table_name}_{year}"
    df_columns = list(df)
    columns = ",".join(df_columns)
    values = "VALUES({})".format(",".join(["%s" for _ in df_columns]))

    updates = ",".join([f"{col}=EXCLUDED.{col}" for col in df_columns if col not in ["id", "year"]])
    insert_stmt = f"""
        INSERT INTO {final_table_name} ({columns}) {values}
        ON CONFLICT ({TABLE_STRUCTURES[table_name]['primary_key']})
        DO UPDATE SET {updates}
    """

    try:
        cursor.executemany(insert_stmt, df.values)
    except Exception as e:
        print(f"Error inserting into table {final_table_name}: {e}")
        connection.rollback()  # Rollback changes in case of error
    else:
        connection.commit()

In [ ]:
def list_tables(cursor):
    cursor.execute("""SELECT table_name FROM information_schema.tables WHERE table_schema = 'public';""")
    tables = [t[0] for t in cursor.fetchall()]
    print(f"In total, we have {len(tables)} tables in the 'adsdb' database.")
    return tables

def table_stats(cursor, tablename):
    # Fetch the number of rows in the table
    cursor.execute(f"SELECT COUNT(*) FROM {tablename};")
    num_rows = cursor.fetchone()[0]

    # Fetch the number of columns in the table
    cursor.execute(f"SELECT COUNT(*) FROM information_schema.columns WHERE table_name = '{tablename}';")
    num_columns = cursor.fetchone()[0]

    # Fetch the "head" of the table (first 5 rows as an example)
    cursor.execute(f"SELECT * FROM {tablename} LIMIT 5;")
    head_rows = cursor.fetchall()
    cursor.execute(f"SELECT column_name FROM information_schema.columns WHERE table_name = '{tablename}';")
    columns = [col[0] for col in cursor.fetchall()]

    table_head = pd.DataFrame(head_rows, columns=columns)

    return {
        "table": tablename,
        "num_rows": num_rows,
        "num_columns": num_columns,
        "head": table_head
    }


def save_to_drive(dump_path, drive_path):
    try:
        # Try to copy the dump file to the specified drive path
        shutil.copy(dump_path, drive_path)
        # Remove the original dump file after copying
        os.remove(dump_path)
    except Exception as e:
        print(f"Error saving to Google Drive: {e}")

In [ ]:
def main():
    cursor, connection = connect_to_database()

    for filename in FILENAMES:
        years = [folder for folder in os.listdir(PERSISTENT_PATH) if folder.isdigit()]
        for year in years:
            df = read_persistent_csv(year, filename)

            # Generate SQL table creation command with year-specific name
            sql_command = generate_sql_create_table(df, filename, year)

            # Save to file (only once for each data source, not for each year)
            if year == years[0]:
                save_sql_to_file(sql_command, filename)

            final_table_name = f"{filename}_{year}"

            # Create the table in PostgreSQL (only if the table doesn't exist)
            cursor.execute(f"SELECT to_regclass('{final_table_name}');")
            if cursor.fetchone()[0] is None:
                try:
                    cursor.execute(sql_command)
                except Exception as e:
                    print(f"Error creating table {final_table_name}: {e}")
                    continue  # Skip to the next iteration if there's an error

            store_data_in_postgres(df, filename, year, cursor, connection)

    # List tables
    tables = list_tables(cursor)

    # Collect and display statistics for each table
    for tablename in tables:
        stats = table_stats(cursor, tablename)
        print(f"\nStatistics for table {tablename}:")
        print(f"Number of rows: {stats['num_rows']}")
        print(f"Number of columns: {stats['num_columns']}")
        print("Head of the table:")
        print(stats['head'])
        print("-" * 50)  # Separator

    # Path for the dump file
    dump_path = "/content/dumpfile.sql"
    drive_path = "/content/drive/MyDrive/ADSDB/formatted/dumpfile.sql"

    # Create a temporary .pgpass file for authentication
    with open("/root/.pgpass", "w") as f:
        f.write("*:*:*:adsdb:adsdb")
    os.chmod("/root/.pgpass", 0o600)  # Set the required permissions

    # Use the pg_dump command to dump the data
    try:
        !PGPASSFILE=/root/.pgpass pg_dump -h localhost -U adsdb -d adsdb -f "{dump_path}"
        # If successful, save the dump to Google Drive
        save_to_drive(dump_path, drive_path)
    except Exception as e:
        print(f"Error during pg_dump: {e}")

    # Clean up the temporary password file
    os.remove("/root/.pgpass")


    connection.close()

if __name__ == "__main__":
    main()

In total, we have 60 tables in the 'adsdb' database.

Statistics for table inflation_rate_2008:
Number of rows: 1
Number of columns: 3
Head of the table:
   year inflation_rate_percent annual_change
0  2008                   4.08          1.29
--------------------------------------------------

Statistics for table inflation_rate_2009:
Number of rows: 1
Number of columns: 3
Head of the table:
   year inflation_rate_percent annual_change
0  2009                  -0.29         -4.36
--------------------------------------------------

Statistics for table inflation_rate_2010:
Number of rows: 1
Number of columns: 3
Head of the table:
   year inflation_rate_percent annual_change
0  2010                   1.80          2.09
--------------------------------------------------

Statistics for table inflation_rate_2011:
Number of rows: 1
Number of columns: 3
Head of the table:
   year inflation_rate_percent annual_change
0  2011                   3.20          1.40
--------------------------------------------------

Statistics for table inflation_rate_2012:
Number of rows: 1
Number of columns: 3
Head of the table:
   year inflation_rate_percent annual_change
0  2012                   2.45         -0.75
--------------------------------------------------

Statistics for table inflation_rate_2013:
Number of rows: 1
Number of columns: 3
Head of the table:
   year inflation_rate_percent annual_change
0  2013                   1.41         -1.04
--------------------------------------------------

Statistics for table inflation_rate_2014:
Number of rows: 1
Number of columns: 3
Head of the table:
   year inflation_rate_percent annual_change
0  2014                  -0.15         -1.56
--------------------------------------------------

Statistics for table inflation_rate_2015:
Number of rows: 1
Number of columns: 3
Head of the table:
   year inflation_rate_percent annual_change
0  2015                  -0.50         -0.35
--------------------------------------------------

Statistics for table inflation_rate_2016:
Number of rows: 1
Number of columns: 3
Head of the table:
   year inflation_rate_percent annual_change
0  2016                  -0.20          0.30
--------------------------------------------------

Statistics for table inflation_rate_2017:
Number of rows: 1
Number of columns: 3
Head of the table:
   year inflation_rate_percent annual_change
0  2017                   1.96          2.16
--------------------------------------------------

Statistics for table inflation_rate_2018:
Number of rows: 1
Number of columns: 3
Head of the table:
   year inflation_rate_percent annual_change
0  2018                   1.68         -0.28
--------------------------------------------------

Statistics for table inflation_rate_2019:
Number of rows: 1
Number of columns: 3
Head of the table:
   year inflation_rate_percent annual_change
0  2019                   0.70         -0.98
--------------------------------------------------

Statistics for table inflation_rate_2020:
Number of rows: 1
Number of columns: 3
Head of the table:
   year inflation_rate_percent annual_change
0  2020                  -0.32         -1.02
--------------------------------------------------

Statistics for table inflation_rate_2021:
Number of rows: 1
Number of columns: 3
Head of the table:
   year inflation_rate_percent annual_change
0  2021                   3.09          3.42
--------------------------------------------------

Statistics for table inflation_rate_2022:
Number of rows: 1
Number of columns: 3
Head of the table:
   year inflation_rate_percent annual_change
0  2022                   8.39          5.30
--------------------------------------------------

Statistics for table employment_rate_2008:
Number of rows: 1908
Number of columns: 7
Head of the table:
   year  total     quarter              id          provinces    sex  rates
0     1   2008  Both sexes  National Total      Activity rate  60.35      4
1     2   2008  Both sexes  National Total      Activity rate  60.23      3
2     3   2008  Both sexes  National Total      Activity rate  60.07      2
3     4   2008  Both sexes  National Total      Activity rate  59.67      1
4     5   2008  Both sexes  National Total  Unemployment rate  13.79      4
--------------------------------------------------

Statistics for table employment_rate_2009:
Number of rows: 1908
Number of columns: 7
Head of the table:
   year  total     quarter              id          provinces    sex  rates
0     1   2009  Both sexes  National Total      Activity rate  59.99      4
1     2   2009  Both sexes  National Total      Activity rate  60.05      3
2     3   2009  Both sexes  National Total      Activity rate  60.30      2
3     4   2009  Both sexes  National Total      Activity rate  60.39      1
4     5   2009  Both sexes  National Total  Unemployment rate  18.66      4
--------------------------------------------------

Statistics for table employment_rate_2010:
Number of rows: 1908
Number of columns: 7
Head of the table:
   year  total     quarter              id          provinces    sex  rates
0     1   2010  Both sexes  National Total      Activity rate  60.25      4
1     2   2010  Both sexes  National Total      Activity rate  60.37      3
2     3   2010  Both sexes  National Total      Activity rate  60.41      2
3     4   2010  Both sexes  National Total      Activity rate  60.09      1
4     5   2010  Both sexes  National Total  Unemployment rate  20.11      4
--------------------------------------------------

Statistics for table employment_rate_2011:
Number of rows: 1908
Number of columns: 7
Head of the table:
   year  total     quarter              id          provinces    sex  rates
0     1   2011  Both sexes  National Total      Activity rate  60.29      4
1     2   2011  Both sexes  National Total      Activity rate  60.44      3
2     3   2011  Both sexes  National Total      Activity rate  60.44      2
3     4   2011  Both sexes  National Total      Activity rate  60.16      1
4     5   2011  Both sexes  National Total  Unemployment rate  22.56      4
--------------------------------------------------

Statistics for table employment_rate_2012:
Number of rows: 1908
Number of columns: 7
Head of the table:
   year  total     quarter              id          provinces    sex  rates
0     1   2012  Both sexes  National Total      Activity rate  60.23      4
1     2   2012  Both sexes  National Total      Activity rate  60.55      3
2     3   2012  Both sexes  National Total      Activity rate  60.50      2
3     4   2012  Both sexes  National Total      Activity rate  60.31      1
4     5   2012  Both sexes  National Total  Unemployment rate  25.77      4
--------------------------------------------------

Statistics for table employment_rate_2013:
Number of rows: 1908
Number of columns: 7
Head of the table:
   year  total     quarter              id          provinces    sex  rates
0     1   2013  Both sexes  National Total      Activity rate  59.86      4
1     2   2013  Both sexes  National Total      Activity rate  60.04      3
2     3   2013  Both sexes  National Total      Activity rate  60.00      2
3     4   2013  Both sexes  National Total      Activity rate  60.18      1
4     5   2013  Both sexes  National Total  Unemployment rate  25.73      4
--------------------------------------------------

Statistics for table employment_rate_2014:
Number of rows: 1908
Number of columns: 7
Head of the table:
   year  total     quarter              id          provinces    sex  rates
0     1   2014  Both sexes  National Total      Activity rate  59.77      4
1     2   2014  Both sexes  National Total      Activity rate  59.53      3
2     3   2014  Both sexes  National Total      Activity rate  59.63      2
3     4   2014  Both sexes  National Total      Activity rate  59.46      1
4     5   2014  Both sexes  National Total  Unemployment rate  23.70      4
--------------------------------------------------

Statistics for table employment_rate_2015:
Number of rows: 1908
Number of columns: 7
Head of the table:
   year  total     quarter              id          provinces    sex  rates
0     1   2015  Both sexes  National Total      Activity rate  59.43      4
1     2   2015  Both sexes  National Total      Activity rate  59.50      3
2     3   2015  Both sexes  National Total      Activity rate  59.79      2
3     4   2015  Both sexes  National Total      Activity rate  59.45      1
4     5   2015  Both sexes  National Total  Unemployment rate  20.90      4
--------------------------------------------------

Statistics for table employment_rate_2016:
Number of rows: 1908
Number of columns: 7
Head of the table:
   year  total     quarter              id          provinces    sex  rates
0     1   2016  Both sexes  National Total      Activity rate  58.95      4
1     2   2016  Both sexes  National Total      Activity rate  59.28      3
2     3   2016  Both sexes  National Total      Activity rate  59.41      2
3     4   2016  Both sexes  National Total      Activity rate  59.29      1
4     5   2016  Both sexes  National Total  Unemployment rate  18.63      4
--------------------------------------------------

Statistics for table employment_rate_2017:
Number of rows: 1908
Number of columns: 7
Head of the table:
   year  total     quarter              id          provinces    sex  rates
0     1   2017  Both sexes  National Total      Activity rate  58.80      4
1     2   2017  Both sexes  National Total      Activity rate  58.92      3
2     3   2017  Both sexes  National Total      Activity rate  58.84      2
3     4   2017  Both sexes  National Total      Activity rate  58.78      1
4     5   2017  Both sexes  National Total  Unemployment rate  16.55      4
--------------------------------------------------

Statistics for table employment_rate_2018:
Number of rows: 1908
Number of columns: 7
Head of the table:
   year  total     quarter              id          provinces    sex  rates
0     1   2018  Both sexes  National Total      Activity rate  58.61      4
1     2   2018  Both sexes  National Total      Activity rate  58.73      3
2     3   2018  Both sexes  National Total      Activity rate  58.80      2
3     4   2018  Both sexes  National Total      Activity rate  58.46      1
4     5   2018  Both sexes  National Total  Unemployment rate  14.45      4
--------------------------------------------------

Statistics for table employment_rate_2019:
Number of rows: 1908
Number of columns: 7
Head of the table:
   year  total     quarter              id          provinces    sex  rates
0     1   2019  Both sexes  National Total      Activity rate  58.74      4
1     2   2019  Both sexes  National Total      Activity rate  58.72      3
2     3   2019  Both sexes  National Total      Activity rate  58.74      2
3     4   2019  Both sexes  National Total      Activity rate  58.35      1
4     5   2019  Both sexes  National Total  Unemployment rate  13.78      4
--------------------------------------------------

Statistics for table employment_rate_2020:
Number of rows: 1908
Number of columns: 7
Head of the table:
   year  total     quarter              id          provinces    sex  rates
0     1   2020  Both sexes  National Total      Activity rate  58.19      4
1     2   2020  Both sexes  National Total      Activity rate  57.83      3
2     3   2020  Both sexes  National Total      Activity rate  55.54      2
3     4   2020  Both sexes  National Total      Activity rate  58.18      1
4     5   2020  Both sexes  National Total  Unemployment rate  16.13      4
--------------------------------------------------

Statistics for table employment_rate_2021:
Number of rows: 1908
Number of columns: 7
Head of the table:
   year  total     quarter              id          provinces    sex  rates
0     1   2021  Both sexes  National Total      Activity rate  58.65      4
1     2   2021  Both sexes  National Total      Activity rate  59.14      3
2     3   2021  Both sexes  National Total      Activity rate  58.58      2
3     4   2021  Both sexes  National Total      Activity rate  57.69      1
4     5   2021  Both sexes  National Total  Unemployment rate  13.33      4
--------------------------------------------------

Statistics for table employment_rate_2022:
Number of rows: 1908
Number of columns: 7
Head of the table:
   year  total     quarter              id          provinces    sex  rates
0     1   2022  Both sexes  National Total      Activity rate  58.52      4
1     2   2022  Both sexes  National Total      Activity rate  58.86      3
2     3   2022  Both sexes  National Total      Activity rate  58.71      2
3     4   2022  Both sexes  National Total      Activity rate  58.50      1
4     5   2022  Both sexes  National Total  Unemployment rate  12.87      4
--------------------------------------------------

Statistics for table house_price_index_2008:
Number of rows: 960
Number of columns: 8
Head of the table:
   id  year     total quarter index_type         indices_and_rates  \
0   1  2008  Nacional     NaN    General                     Index
1   2  2008  Nacional     NaN    General                     Index
2   3  2008  Nacional     NaN    General                     Index
3   4  2008  Nacional     NaN    General                     Index
4   5  2008  Nacional     NaN    General  Quarterly variation rate

  national_total  autonomous_communities_and_cities
0         142.51                                  4
1         147.13                                  3
2         149.62                                  2
3         150.08                                  1
4          -3.10                                  4
--------------------------------------------------

Statistics for table house_price_index_2009:
Number of rows: 960
Number of columns: 8
Head of the table:
   id  year     total quarter index_type         indices_and_rates  \
0   1  2009  Nacional     NaN    General                     Index
1   2  2009  Nacional     NaN    General                     Index
2   3  2009  Nacional     NaN    General                     Index
3   4  2009  Nacional     NaN    General                     Index
4   5  2009  Nacional     NaN    General  Quarterly variation rate

  national_total  autonomous_communities_and_cities
0         136.31                                  4
1         136.85                                  3
2         138.08                                  2
3         138.69                                  1
4          -0.40                                  4
--------------------------------------------------

Statistics for table house_price_index_2010:
Number of rows: 960
Number of columns: 8
Head of the table:
   id  year     total quarter index_type         indices_and_rates  \
0   1  2010  Nacional     NaN    General                     Index
1   2  2010  Nacional     NaN    General                     Index
2   3  2010  Nacional     NaN    General                     Index
3   4  2010  Nacional     NaN    General                     Index
4   5  2010  Nacional     NaN    General  Quarterly variation rate

  national_total  autonomous_communities_and_cities
0         133.72                                  4
1         133.85                                  3
2         136.79                                  2
3         134.63                                  1
4          -0.10                                  4
--------------------------------------------------

Statistics for table house_price_index_2011:
Number of rows: 960
Number of columns: 8
Head of the table:
   id  year     total quarter index_type         indices_and_rates  \
0   1  2011  Nacional     NaN    General                     Index
1   2  2011  Nacional     NaN    General                     Index
2   3  2011  Nacional     NaN    General                     Index
3   4  2011  Nacional     NaN    General                     Index
4   5  2011  Nacional     NaN    General  Quarterly variation rate

  national_total  autonomous_communities_and_cities
0         118.78                                  4
1         123.95                                  3
2         127.53                                  2
3         129.06                                  1
4          -4.20                                  4
--------------------------------------------------

Statistics for table house_price_index_2012:
Number of rows: 960
Number of columns: 8
Head of the table:
   id  year     total quarter index_type         indices_and_rates  \
0   1  2012  Nacional     NaN    General                     Index
1   2  2012  Nacional     NaN    General                     Index
2   3  2012  Nacional     NaN    General                     Index
3   4  2012  Nacional     NaN    General                     Index
4   5  2012  Nacional     NaN    General  Quarterly variation rate

  national_total  autonomous_communities_and_cities
0         103.59                                  4
1         105.07                                  3
2         109.19                                  2
3         112.86                                  1
4          -1.40                                  4
--------------------------------------------------

Statistics for table house_price_index_2013:
Number of rows: 960
Number of columns: 8
Head of the table:
   id  year     total quarter index_type         indices_and_rates  \
0   1  2013  Nacional     NaN    General                     Index
1   2  2013  Nacional     NaN    General                     Index
2   3  2013  Nacional     NaN    General                     Index
3   4  2013  Nacional     NaN    General                     Index
4   5  2013  Nacional     NaN    General  Quarterly variation rate

  national_total  autonomous_communities_and_cities
0          95.51                                  4
1          96.74                                  3
2          96.04                                  2
3          96.77                                  1
4          -1.30                                  4
--------------------------------------------------

Statistics for table house_price_index_2014:
Number of rows: 960
Number of columns: 8
Head of the table:
   id  year     total quarter index_type         indices_and_rates  \
0   1  2014  Nacional     NaN    General                     Index
1   2  2014  Nacional     NaN    General                     Index
2   3  2014  Nacional     NaN    General                     Index
3   4  2014  Nacional     NaN    General                     Index
4   5  2014  Nacional     NaN    General  Quarterly variation rate

  national_total  autonomous_communities_and_cities
0          97.19                                  4
1          97.00                                  3
2          96.81                                  2
3          95.21                                  1
4           0.20                                  4
--------------------------------------------------

Statistics for table house_price_index_2015:
Number of rows: 960
Number of columns: 8
Head of the table:
   id  year     total quarter index_type         indices_and_rates  \
0   1  2015  Nacional     NaN    General                     Index
1   2  2015  Nacional     NaN    General                     Index
2   3  2015  Nacional     NaN    General                     Index
3   4  2015  Nacional     NaN    General                     Index
4   5  2015  Nacional     NaN    General  Quarterly variation rate

  national_total  autonomous_communities_and_cities
0         101.31                                  4
1         101.36                                  3
2         100.69                                  2
3          96.65                                  1
4          -0.10                                  4
--------------------------------------------------

Statistics for table house_price_index_2016:
Number of rows: 960
Number of columns: 8
Head of the table: